# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
logs

# Node dependencies
node_modules
bower_components

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Ignore built ts files
dist/**/*

# IDE - VSCode
.vscode

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Vite
.vite