/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */
.toggle-button .knobs,
.toggle-button .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toggle-button {
    position: relative;
    top: 50%;
    width: 50px;
    height: 24px;
    overflow: hidden;
}

.toggle-button.r,
.toggle-button.r .layer {
    border-radius: 100px;
}
.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.toggle-button .knobs {
    z-index: 2;
}

.toggle-button .layer {
    width: 100%;
    background-color: #00000020;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
.toggle-button .knobs:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.toggle-button .checkbox:checked + .knobs:before {
content: "";
    left: 28px;
}

.toggle-button .checkbox:checked ~ .layer {
    background-color: #E31B54;
}

.toggle-button .knobs,
.toggle-button .knobs:before,
.toggle-button .layer {
    transition: 0.3s ease all;
}



$color1: #f4f4f4;
$color2: #F63D68;

.radio-button.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: 0.2em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
  